html {
  background: url(/bground.jpg);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  background: url(/bground2.jpg);
  background-size: 100%;
  width: 30rem;
  height: 30rem;
  border: 20px solid rgb(221, 157, 157);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.min-hand {
  border-radius: 0.7em;
  width: 40%;
  left: 10%;
}
.hour-hand {
  left: 20%;
  width: 30%;
  height: 10px;
  border-radius: 0.7em;
}
.second-hand {
  background-color: rgb(221, 157, 157);
  height: 3px;
  width: 45%;
  left: 5%;
}

.second-hand::before {
  background-color: rgb(221, 157, 157);
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 95.5%;
  position: absolute;
  top: -4px;
  width: 10px;
}
